Django==5.2.5
graphviz==0.21
matplotlib==3.10.6
numpy==2.3.2
palmerpenguins==0.1.4
pandas==2.3.2
Requests==2.32.5
scikit_learn==1.7.1
scikit_surprise==1.1.4
seaborn==0.13.2
sentence_transformers==5.0.0
surprise==0.1
torch==2.7.1